@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    
}

/* Headings and Logo */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 0.5%;

}
header li a {   
    font-size: 19px;
    text-shadow: 2px 2px 4px black;
    color: #252525;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;

}

#logo {
    height: 60px;
    width: 240px;
    margin-right: auto;
}

/* navigation links */


.nav-links {
    list-style-type: none;

}


.nav-links li {
    display: inline-block;
    padding: 0px 15px;
}


.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: blueviolet;
    border-bottom: 1px solid blueviolet;
}

.selected {
    border-bottom: 1px solid #000;
}


/* hero image and cover text*/

#hero_outer {
    height: 650px;
    width: 100%;

    position: relative;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url("../Images/hero_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cover-text {
    font-size: 130%;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 4px;

    width: 500px;
    height: 550px;
    border-radius: 3%;

    padding: 40px 20px;


    background-color: rgba(1, 53, 131, 0.541);

    left: 20px;
    bottom: 165px;

    position: absolute;
}

#cover-text h2 {
    color: skyblue;
    text-shadow: 4px 4px 6px blue;
    font-size: 2rem;
    text-transform: uppercase;
}

#cover-text h3 {
    color: beige;
}

#cover-text h3 {
    font-size: 1.2em;
}

#cover-text p {
    color: whitesmoke;
}

/* Section2-Our Services */

#section2-outer {
    background-image: url(../Images/pexels-photo-457881.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 25px;
    padding-bottom: 25px;

}

#section2-outer h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: yellow;

       
    text-shadow: 4px 4px 6px black;
}

#our-services {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

}


/* The House Division*/
.the-house {
    height: 650px;
    width: 30%;
    border-radius: 3%;
    transition: 0.5s;
    border: 8px outset skyblue;
    background-image: url(../Images/house4.jpg);
    background-size: cover;
    background-position: center;
}

.the-house ul {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
   
}

.the-house li {
    color: #fff;
    font-size: 1.5rem;
    padding-top: 25px;
    text-shadow: 2px 2px 4px black;
    list-style: none;
}


.the-house:hover {
    background-image: url(../Images/room.webp);
    background-size: cover;
    background-position: -1in;

   /* box-shadow: 0 0 0 300px rgba(1, 53, 131, 0.541) inset;*/
}

.the-house:hover ul {
    opacity: 1;
    transform: scale(1);
}


/*Pool-beach Division*/

.pool-beach {
    height: 650px;
    width: 30%;
    border-radius: 3%;
    transition: 0.5s;
    border: 8px outset skyblue;
    background-image: url(../Images/pool7.jpg);
    background-size: cover;
    background-position: center;
}

.pool-beach ul {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
   
}

.pool-beach li {
    color: #fff;
    font-size: 1.5rem;
    padding-top: 25px;
    text-shadow: 2px 2px 4px black;
    list-style: none;
}
.pool-beach:hover {
    background-image: url(../Images/sunset3.jpg);
    background-size: cover;
    background-position: center;

}

.pool-beach:hover ul {
    opacity: 1;
    transform: scale(1);
}




/*Acticities Division*/
.activities {
    height: 650px;
    width: 30%;
    border-radius: 3%;
    transition: 0.5s;
    border: 8px outset skyblue;
    background-image: url(../Images/paddling.jpg);
    background-size: cover;
    background-position: center;
}

.activities ul {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
   
}

.activities li {
    font-size: 1.5rem;
    color: white;
    padding-top: 25px;
    text-shadow: 3px 3px 6px black;
    list-style: none;
}

.activities:hover {
    background-image: url(../Images/krus1.jpg);
    background-size: cover;
    background-position: center;

}

.activities:hover ul {
    opacity: 1;
    transform: scale(1);
}

/*section3 Reyna Beach house */

#section3-outer {
    height: 650px;
    width: 100%;
    padding-bottom: 25px;
    position: relative;

}

#section3-image {
    height: 600px;
    width: 100%;   
    background: url(../Images/beach1.png);
    background-size: 100% 100%;
    font-size: 1.3rem;
    column-count: 2;
    column-width: auto;
    padding: 1rem;
}
 
#section3-image h1, #section3-image h2, #section3-image h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: yellow;
    text-shadow: 2px 2px 4px black;
}

#section3-image p {
    color: white;
    text-shadow: 2px 2px 4px black;

}