@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    
}

/* Headings and Logo */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 0.5%;

}

#logo {
    height: 60px;
    width: 240px;
    margin-right: auto;
}

/* navigation links */

li,
a {
    font-size: 19px;
    text-shadow: 2px 2px 4px black;
    color: #252525;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-links {
    list-style-type: none;

}


.nav-links li {
    display: inline-block;
    padding: 0px 15px;
}


.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: blueviolet;
    border-bottom: 1px solid blueviolet;
}

.selected {
    border-bottom: 1px solid #000;
}


/* hero image and cover text*/

#hero_outer {
    height: 650px;
    width: 100%;

    position: relative;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url("../Images/hero_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cover-text {
    font-size: 130%;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 4px;

    width: 500px;
    height: 550px;
    border-radius: 3%;

    padding: 40px 20px;


    background-color: rgba(1, 53, 131, 0.541);

    left: 20px;
    bottom: 225px;


    position: absolute;
}

#cover-text h2 {
    color: skyblue;
    text-shadow: 4px 4px 6px blue;
    font-size: 2rem;
    text-transform: uppercase;
}

#cover-text h3 {
    color: beige;
}

#cover-text h3 {
    font-size: 1.2em;
}

#cover-text p {
    color: whitesmoke;
}

/* Section2-Our Services */

#section2-outer {
    background-image: url(../Images/pexels-photo-457881.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

#section2-outer h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: yellow;

       
    text-shadow: 4px 4px 6px black;
}

#our-services {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

}

#the-house {
    height: 650px;
    width: 30%;
    border-radius: 3%;
    transition: 0.5s;
    border: 8px outset skyblue;
    background-image: url(../Images/house4.jpg);
    background-size: cover;
    background-position: center;
}

#pool-beach {
    height: 650px;
    width: 30%;
    border-radius: 3%;
    transition: 0.5s;
    border: 8px outset skyblue;
    background-image: url(../Images/pool7.jpg);
    background-size: cover;
    background-position: center;
}


#activities {
    height: 650px;
    width: 30%;
    border-radius: 3%;
    transition: 0.5s;
    border: 8px outset skyblue;
    background-image: url(../Images/paddling.jpg);
    background-size: cover;
    background-position: center;
}