@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #3a3a3a;

}

/* Headings and Logo */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 0.5%;

}

header li a {
    font-size: 19px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;

}

#logo {
    height: 60px;
    width: 15%;
    margin-right: auto;
}

/* navigation links */

.nav-links {
    list-style-type: none;

}

.nav-links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #8A2BE2;
    border-bottom: 1px solid #8A2BE2;
}

.selected {
    border-bottom: 1px solid #0000FF;
}

/* hero image and cover text*/

#hero_outer {
    height: 650px;
    width: 100%;

    position: relative;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url("../Images/hero_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cover-text {
    font-size: 130%;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 4px;
    width: 30%;
    height: 550px;
    border-radius: 3%;
    padding: 40px 20px;
    background-color: rgba(1, 53, 131, 0.541);
    left: 20px;
    bottom: 230px;
    top: 170px;
    position: absolute;
}

#cover-text h2 {
    color: #87CEEB;
    text-shadow: 4px 4px 6px #0000FF;
    font-size: 2rem;
    text-transform: uppercase;
}

#cover-text h3 {
    color: #F5F5DC;
}

#cover-text h3 {
    font-size: 1.2em;
}

#cover-text p {
    color: #f5f5f5;
}

/* Section2-Our Services */

#section2-outer {
    background-image: url(../Images/pexels-photo-457881.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 25px;
    padding-bottom: 25px;

}

#section2-outer h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #FFFF00;
    text-shadow: 4px 4px 6px #000;
}

#our-services {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

}

/* The House Division*/
.the-house {
    height: 650px;
    width: 30%;
    border-radius: 3%;
    transition: 0.5s;
    border: 8px outset #0000FF;
    background-image: url(../Images/house4.jpg);
    background-size: cover;
    background-position: center;
}

.the-house ul {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
}

.the-house li {
    color: #fff;
    font-size: 1.5rem;
    padding-top: 25px;
    text-shadow: 2px 2px 4px #000;
    list-style: none;
}

.the-house:hover {
    background-image: url(../Images/room.webp);
    background-size: cover;
    background-position: -1in;

}

.the-house:hover ul {
    opacity: 1;
    transform: scale(1);
}

/*Pool-beach Division*/

.pool-beach {
    height: 650px;
    width: 30%;
    border-radius: 3%;
    transition: 0.5s;
    border: 8px outset #0000FF;
    background-image: url(../Images/pool7.jpg);
    background-size: cover;
    background-position: center;
}

.pool-beach ul {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;

}

.pool-beach li {
    color: #fff;
    font-size: 1.5rem;
    padding-top: 25px;
    text-shadow: 2px 2px 4px #000;
    list-style: none;
}

.pool-beach:hover {
    background-image: url(../Images/sunset3.jpg);
    background-size: cover;
    background-position: center;

}

.pool-beach:hover ul {
    opacity: 1;
    transform: scale(1);
}

/*Acticities Division*/
.activities {
    height: 650px;
    width: 30%;
    border-radius: 3%;
    transition: 0.5s;
    border: 8px outset #0000FF;
    background-image: url(../Images/paddling.jpg);
    background-size: cover;
    background-position: center;
}

.activities ul {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;

}

.activities li {
    font-size: 1.5rem;
    color: #fff;
    padding-top: 25px;
    text-shadow: 3px 3px 6px #000;
    list-style: none;
}

.activities:hover {
    background-image: url(../Images/krus1.jpg);
    background-size: cover;
    background-position: center;

}

.activities:hover ul {
    opacity: 1;
    transform: scale(1);
}

/*section3 Reyna Beach house */

#section3-outer {
    height: 650px;
    width: 100%;

}

#section3-image {
    height: 650px;
    width: 100%;
    background: url(../Images/beach1.png);
    background-size: 100% 100%;
    font-size: 1.3rem;
    column-count: 2;
    column-width: auto;
    padding: 1rem;
}

#section3-image h1,
#section3-image h2,
#section3-image h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #FFFF00;
    text-shadow: 2px 2px 4px #000;
}

#section3-image p {
    color: #fff;
    text-shadow: 2px 2px 4px #000;

}

/*section4-Contact Us */

#section4-outer {
    height: 650px;
    width: 100%;
    padding-top: 25px;
    font-family: 'Montserrat', sans-serif;

    background-image: url(../Images/pexels-photo-457881.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.contact-wrap {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-in:nth-child(1) {
    flex: 30%;

    color: #000;
}

.contact-in:nth-child(2) {
    flex: 70%;
}

.contact-in h2 {
    font-size: 2.5rem;
    color: #FFFF00;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;


    text-shadow: 4px 4px 6px #000;
}

.contact-in h3 {
    color: #FFFF00;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px #000;
}

.contact-in h3 i {
    font-size: 20px;
    width: 7%;
    height: 40px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.541);
    color: #FF0000;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.contact-in p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px #fff;
}


.contact-in iframe {
    width: 100%;
    height: 90%;
}

/* Footer- Social links */

footer {
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: 100%;

    opacity: 0.5;

}

.footer-background {
    width: 100%;
    background: url(../Images/footer-background.jpg) center center;
}

footer a {
    font-size: 40px;
    padding: 5px 10px;
    cursor: pointer;
}

footer a:hover {
    color: #0000FF;
}

footer:hover {
    opacity: 1;
}

/* Gallery Page */
#gallery {
    line-height: 1em;
    column-count: 4;
    column-gap: 1px;
    background-image: url('../Images/pexels-photo-457881.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery>img {
    width: 100%;
}

/*book now form*/

.book-now-bg {
    background-image: url(../Images/pexels-photo-457881.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    max-width: 700px;
    height: 700px;

}

.form-text {
    text-align: center;
    margin: 40px 0;
}

.form-text h1,
.form-text p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px #fff;
    font-size: 35px;
}

.form-text a {
    color: #000;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px 4px #fff;
    font-size: large;
    list-style-type: none;
}

.main-form {
    text-align: center;
}

.main-form div {
    margin: 10px 20px;
    width: 300px;
    display: inline-block;
}

.main-form div input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: 1px solid #87CEEB;
    font-size: 20px;
    color: #000;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
    text-shadow: 2px 2px 4px #fff;
}

.main-form div select {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: 1px solid #87CEEB;
    font-size: 20px;
    color: #000;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
    text-shadow: 2px 2px 4px #fff;
}

.main-form div span {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 25px;
    text-shadow: 2px 2px 4px #fff;
}

#continue {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#continue input {
    font-family: 'Montserrat', sans-serif;
    width: 25%;
    transition: all .3s ease;
    opacity: .7;
}

#continue input:hover {
    font-family: 'Montserrat', sans-serif;
    width: 25%;
    background-color: #87CEEB !important;
    opacity: 1;
    color: #000;
}

/*thank you sub-page*/

.thankyou-bg {
    background-image: url(../Images/swing1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    text-align: center;
}

.thankyou-container {
    text-align: center;
    max-width: 35%;
    height: 100%;
    margin: 0 auto;
    letter-spacing: 4px;

}

.thankyou-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000;
    font-size: 50px;
    color: #87CEEB;
    opacity: .9;
    padding: 50px 0;
}

.thankyou-container p {
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #000;
}

/*404 page not working*/

.not-found-bg {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    min-height: 100vh;
    background-image: linear-gradient(125deg, #0000FF, #87CEEB, #8A2BE2);
}

.not-found-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #000;
}

.not-found-container h1{
    font-size: 20vmin;
    padding: 50px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(../Images/sunset.jpg) center no-repeat;
    text-shadow: 2px 2px 4px #fff;

}

.not-found-container h2{
padding: 25px;
font-size: 7vmin;
text-shadow: 2px 2px 4px #fff;
}

.not-found-container p{
    padding: 25px;
    font-size: 5vmin;
    text-shadow: 2px 2px 4px #fff;
}

.not-found-container a{
    text-decoration: none;
    background: #8A2BE2;
    color: #fff;
    padding: 16px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 4vmin;
    text-transform: uppercase;
    transition: 0.4s;
}
.not-found-container a:hover {
    background: #0000FF;
    
}
/* Media quiries */

/* Large devices (laptops/desktops, 1485px and down) */
@media only screen and (max-width: 1485px) {

    #cover-text {
        width: 40%;
        left: 20px;
        bottom: 220px;

    }

    #section3-outer {
        height: 700px;
        width: 100%;
        padding-bottom: 25px;

    }

    #section3-image {
        height: 700px;
        width: 100%;
        font-size: 2.3vmin;

    }

    #section4-outer {
        height: 450px;
    }

    .contact-wrap {
        height: 450px;
    }

    .contact-in iframe {
        width: 100%;
        height: 80%;

    }

    .contact-in h1,
    .contact-in h2,
    .contact-in p {
        font-size: 1.5rem;
        letter-spacing: normal;
        margin: auto;
        padding-left: 15px;
    }
}

/* Xtra-Large devices (laptops/desktops, 1305px and down) */
@media only screen and (max-width: 1305px) {

    #cover-text {
        width: 40%;
        top: 160px;
    }

    #section4-outer {
        height: 650px;
    }

    .contact-wrap {
        height: 650px;
    }

    .contact-in iframe {
        width: 100%;
        height: 200%;
        margin-bottom: 100px;

    }

    .contact-in h2,
    .contact-in h3,
    .contact-in p {
        font-size: 2rem;
        letter-spacing: normal;
        margin: auto;
        padding-left: 15px;
    }

}

/* Large devices (laptops/desktops, 1139px and down) */
@media only screen and (max-width: 1139px) {

    #cover-text {
        width: 45%;
    }

    #section3-outer,
    #section3-image {
        height: 750px;
    }
}

/* Large devices (laptops/desktops, 1064px and down) */
@media only screen and (max-width: 1064px) {

    #cover-text {
        width: 60%;
    }

    .the-house li {
        font-size: 2.3vmin;
    }

    .contact-in h2 {
        text-align: center;

    }

    .contact-in h3,
    .contact-in p {
        font-size: 2.5vmax;
    }


    #gallery {
        column-count: 3;
    }
}

/* Medium devices (landscape tablets, 848px and down) */
@media only screen and (max-width: 848px) {

    #cover-text {
        width: 65%;
    }

    header li a {
        letter-spacing: normal;
    }

    #our-services {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .the-house,
    .activities,
    .pool-beach {
        width: 100%;
        height: 100%;
        padding: 25px;
        margin: 25px 0;

    }

    #section3-outer,
    #section3-image {
        height: auto;
        padding-bottom: 0;
    }

    .contact-in h1 {
        text-align: center;

    }

    .contact-in h3,
    .contact-in p {
        font-size: 2.5vmax;
    }

    #gallery {
        column-count: 3;
    }

    .book-now-bg {
        max-width: 100%;
        height: 1024px;
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 734px and down) */
@media only screen and (max-width: 734px) {


    #cover-text {
        width: 80%;
    }

    .nav-links {
        text-align: center;
    }

    #section3-outer,
    #section3-image {
        height: auto;
        padding-bottom: 0;
    }

    .contact-in h1 {
        text-align: center;

    }

    .contact-in h3,
    .contact-in p {
        font-size: 2.5vmax;
    }
}

/* Extra small devices (phones, 540px and down) */
@media only screen and (max-width: 540px) {

    #cover-text {
        height: 100%;
        width: 100%;
        font-size: 4vmin;
        left: 0;
        padding: 20px 10px;
        top: 200px;

    }

    #cover-text h2 {
        font-size: 6vmin;
    }

}